{% load staticfiles %}

<!doctype html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<html>
<head>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
        crossorigin="anonymous"
    >


    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">

            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
		<h5>Gestión de Cursos</h5>
                <nav class="">
		    <ul class="nav flex-column">
		        <li class="nav-item">
			    <a
		                href="/gestion/cursos"
		     	    >
			        Cursos de Extensión
			    </a>
		        </li>
		        <li class="nav-item">
			    <a
		                href="/gestion/inscriptosxcursos"
		     	    >
			        Inscriptos por Cursos
			    </a>
		        </li>
		        <li class="nav-item">
			    <a
		                href="/gestion/inscriptos"
		     	    >
			        Todos los Inscriptos
			    </a>
		        </li>
		        <li class="nav-item">
			    <a
		                href="/gestion/liquidaciones"
		     	    >
			        Liquidaciones
			    </a>
		        </li>
		    </ul>
                </nav> 
            </div> 

            <main class="col-12 col-md-9 col-xl-8 bd-content" role="main">

		<h3>Título de Página</h3>

                <div class="contenido">
                    {% block content %} 
		    {% endblock %}
                </div>

            </main>

        </div>
     </div>
</body>

