{% extends "body.html" %}
{% load django_tables2 %}
{% load bootstrap4 %}

{% block content %}
    {% for tabla in tablas %}
    <article class="articulo">

        <h3>
            {{ tabla.titulo }} - 
	    {{ tabla.subtitulo }}
	</h3>
        <div class="tabla">
            {% render_table tabla.items %}
        </div>	
           <p class="text-right">  
               {% for boton in tabla.botones %}
                       <a 
                           href="{{boton.destino}}"
                           class="btn btn-primary btn-sm {{boton.clase}}" 
                           role="button"
                           aria-pressed="true"
                       >
                           {{boton.texto}}
                       </a>
               {% endfor %}
           </p>

        {% if tabla.subtabla %}
	   <h5>
               {{ tabla.subtabla.titulo }} - 
	       {{ tabla.subtabla.subtitulo }}
	   </h5>
           <div class="tabla">
               {% render_table tabla.subtabla.items %}
           </div>	
        {% endif %}

    </article>
    {% endfor %}
{% endblock %}



