{% extends "body.html" %}
{% load django_tables2 %}
{% load bootstrap4 %}

    {% block content %}
        <article class="article">
            <div class="tabla">
                {% render_table tabla %}
                {% if botones %}
                    <p class="text-right">  
                        {% for boton in tabla.botones %}
                                <a 
                                    href="{{boton.destino}}"
                                    class="btn btn-primary btn-sm {{boton.clase}}" 
                                    role="button"
                                    aria-pressed="true"
                                >
                                    {{boton.texto}}
                                </a>
                        {% endfor %}
                    </p>
                {% endif %}
	    </div>
        </article>
    {% endblock %}



