html{
	/*color:red;*/
	font-size:.9rem;
}
html,
body,
.container-fluid,
.row{
	/*height:100%;*/
}
.barra-lateral{
	/*height:100%;*/
	/*background: #dedede;*/
}
.bd-content{
	border-left: 1px solid #dedede;
}
.tabla{
	margin-bottom:50px;
}
th a{
	color: #000;
}
.ok.jumbotron{
	margin:50px
}
